<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://yourdomain.com/HrmViability"
        version="1.0.0"
        viewmodes="fullscreen">
    <tizen:application id="HrmViability.YourAppID"
                        package="HrmViability"
                        required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/sensor.heart_rate_monitor"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <icon src="icon.png"/>
    <name>HRM Viability</name>
    <tizen:profile name="wearable"/>
    <tizen:setting screen-orientation="portrait"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"
                   hwkey-event="enable"/>
</widget>
